###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=5cc4d48a05b053641d220c9941e4af4e
#TRUSTED_PROXIES=127.0.0.0/8,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
#TRUSTED_HOSTS='^(localhost|example\.com)$'
###< symfony/framework-bundle ###

APP_DEBUG=true

